<article class="listing">
    <span>Title</span>
    <div class="detail user">
        <span>User: </span> {{post.username}}
    </div>
    <div class="detail mail">
        <span>Email: </span> {{post.email}}
    </div>
    <div class="detail website">
        <span>Website: </span> {{post.website}}
    </div>
    <a href="#">Delete</a>
</article>